# Cache
.cache/
.direnv/

# Built files
build/
result

# Single-user tooling configurations
bear.yml
compile_commands.json

# Single-user scripts
scripts/.wslmake.sh

# Compiled/converted resources
# res/**/*.png
# res/**/*.c
# res/**/*.h
